<app-navbar></app-navbar>

<div class="crear-evento-container">

    <header class="crear-evento-header">
        <h1>Crear Evento</h1>
    </header>

    <div *ngIf="mensajeError" class="error-mensaje">
        {{ mensajeError }}
    </div>

    <form [formGroup]="formularioEvento" (ngSubmit)="onSubmit()" class="evento-form">


        <div class="form-group">
            <label for="">Titulo del evento</label>
            <input type="text" id="titulo" formControlName="titulo" placeholder="Titulo...">
        </div>

        <div class="form-group">
            <label for="">Descripción del evento</label>
            <textarea rows="4" id="nombre" formControlName="descripcion" placeholder="Añade una descripción al evento..."></textarea>
        </div>

        <div class="form-group">
            <label for="">Categoría</label>
            <select id="categoria" formControlName="categoria">
                <option value="">Selecciona una categoria</option>
                <option *ngFor="let cat of categorias" [value]="cat.valor">
                    {{ cat.nombre }}
                </option>
            </select>
        </div>

<div class="form-subform">
    <div class="form-group autocomplete"> 
        <label for="ciudad">Ciudad</label>
        <input type="text" id="ciudad" formControlName="ciudad" (input)="onCiudadInput($event)" (focus)="mostrarSugerenciasCiudades = true" placeholder="Ej: Sevilla">
        
        <div *ngIf="mostrarSugerenciasCiudades && sugerenciasCiudades.length > 0" class="autocomplete-dropdown">
            <div *ngFor="let sugerencia of sugerenciasCiudades" class="autocomplete-item" (click)="seleccionarCiudad(sugerencia); $event.stopPropagation()">
                {{ sugerencia.nombre }}
            </div>
        </div>
        
    </div>
    
    <div class="form-group autocomplete">
        <label for="direccion">Direccion</label>
        <input type="text" id="direccion" formControlName="direccion" (input)="onDireccionInput($event)" (focus)="mostrarSugerenciasDirecciones = true" placeholder="Ej: Calle Cuna, 1">
        
        <div *ngIf="mostrarSugerenciasDirecciones && sugerenciasDirecciones.length > 0" class="autocomplete-dropdown">
            <div *ngFor="let sugerencia of sugerenciasDirecciones" class="autocomplete-item" (click)="seleccionarDireccion(sugerencia); $event.stopPropagation()">
                {{ sugerencia.nombre }}
            </div>
        </div>
    </div>
</div>


        <div class="form-subform">
            <div class="form-group">
                <label for="">Fecha</label>
                <input type="date" id="fecha" formControlName="fecha">
            </div>

            <div class="form-group">
                <label for="">Hora</label>
                <input type="time" id="hora" formControlName="hora">

                <div *ngIf="formularioEvento.get('hora')?.errors?.['pasado']" class="error">
                    La hora no puede ser en el pasado
                </div>
                <div *ngIf="formularioEvento.get('hora')?.errors?.['futuroLejano']" class="error">
                    El evento debe ser en las próximas 12 horas
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="">Limite de participantes (*opcional)</label>
            <input type="number" id="maxParticipantes" formControlName="maxParticipantes" min="2" max="100">
        </div>
        
        <div class="form-actions">
            <button type="submit" [disabled]="cargando">
                {{ cargando ? 'Creando...' : 'Crear Evento' }}
            </button>
        </div>

    </form>

    <button (click)="cancelar()" class="boton-cancelar">Volver</button>

