<div class="registro-container">   
    <h1>Crear Cuenta</h1>
    
    <div *ngIf="mensajeError" class="error-mensaje">
        {{ mensajeError }}
    </div>


    <!-- ngSubmit se comunica con el metodo onSubmit() de typescript y se ejecuta una vez se envia el formulario -->
    <!-- [formGroup] conecta con el formGroup de typescript -->
    <form [formGroup]="formularioRegistro" (ngSubmit)="onSubmit()">
        <div class="campo">
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" formControlName="nombre" placeholder="Escriba su nombre...">
            <!-- formControlName esta asociado al FormControl llamado nombre que esta dentro del formGroup asociado que esta en la etiqueta form -->
            
            <div *ngIf="tieneError('nombre')" class="error">
                {{ obtenerMensajeError('nombre') }}
            </div>
        </div>

        <div class="campo">
            <label for="email">Email</label>
            <input type="email" id="email" formControlName="email" placeholder="Escriba su correo...">
            
            <div *ngIf="tieneError('email')" class="error">
                {{ obtenerMensajeError('email') }}
            </div>
        </div>

        <div class="campo">
            <label for="password">Contraseña</label>
            <input type="password" id="password" formControlName="password" placeholder="Escriba una contraseña...">
            
            <div *ngIf="tieneError('password')" class="error">
                {{ obtenerMensajeError('password') }}
            </div>
        </div>

        <button type="submit" [disabled]="cargando" class="btn-primary">
            {{ cargando ? 'Creando cuenta...' : 'Registrarse' }}
        </button>

    </form>

    <p class="link-login">
        ¿Ya tienes cuenta?
        <a (click)="irAlLogin()">Inicia sesión</a>
    </p>
</div> 