$background-color: #1A1A1A;
$color-primario: #00D9A3;
$color-claro: #fefefe;
$border-radius: 12px;
$border-width: 2px;
$tamano-movil: 768px;

p {
    color: $color-claro;
}

.perfil-seccion {
    background-color: $color-primario;
    border-radius: $border-radius;
    padding: 0.3rem;
}

.key {
    background-color: $color-primario;
    border-radius: $border-radius;
    padding: 0.5rem;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $background-color;
    border-bottom: $border-width solid $color-primario;
    padding: 15px 20px;
    height: 50px;
}

.navbar-container .div-logo {
    max-width: 150px; 
    height: auto;
}

.navbar-container .right-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 13px;
}

.navbar-container .right-container .search-container {
    display: flex;
    align-items: center;
    background-color: $background-color;
    border-radius: $border-radius;
    border: $border-width solid $color-primario;
    padding: 5px 15px;
}

.navbar-container .right-container .search-container .search-input {
    border: none;
    background: none;
    color: black;
    padding: 5px;
    outline: none;
    width: 200px;
}

.navbar-container .right-container .search-container .search-icon {
    cursor: pointer;
    color: $color-primario;
    padding-left: 10px;
}

.navbar-container .right-container .icon-container {
    display: flex;
    align-items: center;
    gap: 20px;

    button {
        background: none;
        border: none;
        padding: 0;
        margin: 0;
        outline: none;
        cursor: pointer;
        display: flex; 
        align-items: center;
        justify-content: center;
        transition: color 0.2s;
    }
}

.navbar-container .right-container .lupa {
    display: none;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    cursor: pointer;
}

.boton-logout {
    gap: 0.5rem;
}


@media (max-width: $tamano-movil) {

    .navbar-container {
        height: 45px;
        padding: 10px 15px;
    }
    
    .navbar-container .div-logo {
        max-width: 120px;
    }

    .navbar-container .right-container .search-container {
        display: none; 
    }

    .navbar-container .right-container .lupa {
        display: flex; 
        align-items: center;
        justify-content: center;
    }
}