/* You can add global styles to this file, and also import other style files */
html {
    background: linear-gradient(to top, #004d3e, #1A1A1A);
    height: 100%;
    font-family: 'Inter', sans-serif;
}